
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


.vscode/
.idea/
*.swp
*.swo
*.suo
*.user


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/


juce-project/Builds/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.clangd/
.build/
ipch/
*.opensdf
*.sdf
*.cache


*.vst3cache
*.aucache


!builds/
!builds/**